@media (width < 800px){

/* Style for Header in header_pages.php template */
.header-pages{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;

}
.header-pages img{
    width: 60px;
    filter: drop-shadow(0px 1px 2px black);
}
.link{
    position: relative;
    left: 45%;
}
.btn-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: 35px;
}

.btn-home img{
    width: 60px;
    border-radius: 100px;
}
.titre{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
}

/* Style for Shopping Page */

body {
    background-image: url(/Home-Companion/images/mobile_bg.png);
    background-size: cover;
}
.header-apps{
    margin-bottom: 20px;
}
.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-bar a {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
}
.nav-bar img{
    width: 50px;
    filter: drop-shadow(0px 1px 2px black);

}
.logo-shop{
    width: 50px;
    border-radius: 30px;
    border: solid 2px  white;
    box-shadow: 0px 1px 2px black;
    background-color: orange;
}
.articles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.fiches{
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 200px;
    margin: 10px 15px;
    border-radius: 10px;
    background-color: rgb(244, 247, 255);
    box-shadow: 0px 1px 2px black;
}
.fiches h2{
   color:rgb(74, 94, 150);
   text-align: center;
   margin-bottom: 2px;
}
.fiches p{
    margin-top: 2px;
    font-size: 15px;
    padding-left: 5px;
}
.fiches-full{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80% ;
    height: 400px;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 10px;
    background-color: rgb(244, 247, 255);
}
.fiches-full h2{
    color: rgb(74, 94, 150);
}
.fiches-full p{
    align-self: baseline;
    margin-left: 20px;
    font-size: 1.5rem;
}
.fiches-full a {
    margin-top: 190px;
    filter: drop-shadow(0px 1px 2px black);
}
.btn-add {
    width: 50px;
    justify-self: flex-end;

    transform: rotate(45deg);
}
.edit-list{
    width: 40px;
    border-radius: 10px;
    position: absolute;
    right: 60px;
    margin-top: 10px;
}

.update form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.container-form{
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.update-list{
    font-size: 20px;
    height: 320px;
    width: 260px;
    margin-top: 115px;
}
.container-form button{
    margin: 5px 0px ;
    height: 50px;
    background-color: rgba(255,12, 26, 0);
    border: none;
}
.container-form img{
    width: 50px;
    
}
.sum-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.sum-list input{
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
}
.sum-list button {
    background-color: rgba(255,12, 26, 0);
    border: none;


}
.sum-list img{
    width: 40px;
}
}