@media (width < 800px){

/* Style for Header in header_pages.php template */
.header-pages{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;

}
.header-pages img{
    width: 60px;
    filter: drop-shadow(0px 1px 2px black);
}
.link{
    position: relative;
    left: 45%;
}
.btn-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: 35px;
}

.btn-home img{
    width: 60px;
    border-radius: 100px;
}
.titre{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
}

/* Style for Shopping Page */

body {
    background-image: url(../../../images/mobile_bg.png);
    background-size: cover;
}
.header-apps{
    margin-bottom: 20px;
}
.search-bar{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-form input {
    height: 2rem;
    width: 70vw;
    border-radius: 20px;
    border: none;
}
.search-form button {
    margin-top: 15px;
}

.menu-desktop{
        display: none;
    }
.logo-shop{
    width: 50px;
    border-radius: 30px;
    border: solid 2px  white;
    box-shadow: 0px 1px 2px black;
    background-color: orange;
}
.container-recipes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fiches{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin-top: 1.5rem;
    padding: 0px 20px;
    padding-bottom: 10px;
    background-color: rgb(244, 247, 255);
    border-radius: 20px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.534);
}
.img-recipe img{
    width: 100%;
    border-radius: 1rem;
}
.fiches button a {
    text-decoration: none;
}
.add-recipe{
    width: 50px;
    position: fixed;
    z-index: 999;
    bottom: 25px;
    left: 25px;
    filter:drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.534)) ;
}
/* Style for recipes creation */
.form-sum{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.form-sum textarea{
    width: 80vw;
}
.input-sum{
    height: 2rem;
    width: 60vw;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}
.number-sum{
    height: 2rem;
    width: 20vw;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}
.label-img{
    color: white;
    font-weight: 800;
    text-shadow: 1px 1px 3px black;
    margin-bottom: 10px;
}
.file{
    margin-top: 10px;
    color: white;
    font-weight: 800;
    text-shadow: 1px 1px 3px black;
}
.form-sum button {
    height: 2rem;
    border-radius: 15px;
    border: none;
    margin-bottom: 20px;
}
}